# Nombre del flujo de trabajo
name: CI Node.js

# Define cuándo se ejecutará el flujo de trabajo (en un push a la rama main)
on:
  push:
    branches: [ main ]

# Define los trabajos que se ejecutarán
jobs:
  build:
    # Especifica el sistema operativo en el que se ejecutará el trabajo
    runs-on: ubuntu-latest

    # Define los pasos a ejecutar
    steps:
      # Paso 1: Revisa el código del repositorio
      - uses: actions/checkout@v4

      # Paso 2: Configura Node.js. Puedes especificar diferentes versiones con un "matrix"
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.21.0' # Versión de Node.js que quieres usar
          cache: 'npm' # Opcional: almacena en caché las dependencias de npm

      # Paso 3: Instala las dependencias del proyecto
      - name: npm install
        run: npm install # 'ci' es más rápido y seguro para entornos de CI

      - name: npm start
        run: npm start

      # Puedes añadir más pasos, como build o linting
      # - name: npm run build
      #   run: npm run build
